@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded bg-red-800 text-white hover:bg-red-900 transition font-medium shadow;
  }

  .input {
    @apply border p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-red-800 border-gray-300;
  }

  .card {
    @apply bg-white p-6 rounded shadow border-t-4 border-red-800;
  }
}